production.yml
/doc/
/lib/
/.crystal/
/.shards/
/.vscode/
/tmp/
.env
.encryption_key
production.yml
.DS_Store
/bin/
/node_modules
/public/dist/images/captcha
config/environments/.production.enc
public/dist/main.bundle.css
