[Unit]
Description=Ratmachine
After=network.target
Requires=postgresql.service

[Service]
ExecStart=/var/www/ratwires.space/bin/ratmachine
Environment=AMBER_ENV=production
WorkingDirectory=/var/www/ratwires.space
Type=simple

[Install]
WantedBy=default.target
