<html>
  <head>
    <%= get_theme() %>
    <link rel="icon" href="/favicon.ico">
    <title>ratwires</title>
    <meta name="description" content="The graffiti wall of the internet">
    <meta name="keywords" content="anonymous,chan,textboard,text board,message board">
    <%= redirector() %>
  </head>
  <body>
    <%= render_banner() %>
    <%= content %>
  </body>
</html>
