<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/dist/main.bundle.css">
    <link rel="icon" href="favicon.ico">
    <title>ratwires</title>
    <meta name="description" content="The graffiti wall of the internet">
    <meta name="keywords" content="anonymous,chan,textboard,text board,message board">
    <meta name="author" content="Faissaloo">
    <%= redirector() %>
  </head>
  <body>
    <%= render_banner() %>
    <%= content %>
  </body>
</html>
